*{
	margin:0;
	padding:0;
}

body{
	background-image: url(../img/bg-main.jpg);
	border:3px solid yellow;
	/*100%=16px
	1.5em -line-height*/
	font:105%/1.5em Arial,Helvetica,sans-serif;
	color:#000;
}

.container{
	border: 4px solid red;
	background: #e2e2e2;
	/* or 1140*/
	width:960px;
	margin:0 auto;
	display:table;
}
.section{
	border:4px solid green;
	/* 650 /960 *100 ?
	width:67.708%;*/
	display:table-cell;
}
.button{
	background:#000;
	opacity: 0.75;
}
.no-opacity .button{
	background:#444;
}
.placeholder input{
	border:2px solid red;
}
.no-placeholder input{
	border:2px solid blue;
}
.nav{
	background: red;
}
/*
.button {
background : #444;
}
.opacity .button {
background : #000;
opacity : 0.75 ;
}
*/
.aside{
	border: 4px solid black;
	/*width:300px;
	float:right;*/
	background: #d1d1d1;
	display: table-cell;
}

.footer{
	border:10px solid blue;
	display: table-row;
}