body{
	background:url(../img/bg-main.jpg);
}
.header{
	height:90px;
	background:#6f6d6d;
}
.main{

}
.footer{

}
.container{
	margin:0 auto;
	/*Костыль*/
	margin-top: -16px;
	width:1200px;
}
.container_content{
	margin:0 auto;
	width:960px;
}
.vertical_menu{
	width:250px;
	float:left;
}
.article_post{
	display:inline-block;
	width:650px;
	border:1px solid red;
}
.photo{
	width: 230px;
}
.photo_developer
{
	float:left;
	display:inline-block;
	height:155px;
	width:155px;
	border-radius:50%;
}
.article_post_header{
	height:60px;
	background:#6f6d6d;
	text-align:center;
}
.article_post_content_right{
	min-width:20%;
	float:left;
	display:inline-block;
}
.article_post_header h3{
	padding: 20px;
}