*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
	font:100%/1.5em Arial,Helvetica,sans-serif;
	color:#000;
}

/*
Размер одного столбца 100%/12=8.3333
*/
.container{
	width:90%;
	margin:0 auto;
	background: #d2d2d2;
}
.container .cols {
	float:left;
	margin: 0 0 1em;
	padding:0 1em;
	background: #fd4;
	text-align:center;
}


.container:before,
.container:after,
.clear:before,
.clear:after,
.row:before,
.row:after{
	content:" ";
	display: table;
}

.container:after,
.row:after,
.clear:after{
	clear:both;
}

.container .cols.col-1,
.container .cols.col-2,
.container .cols.col-3,
.container .cols.col-4,
.container .cols.col-5,
.container .cols.col-6,
.container .cols.col-7,
.container .cols.col-8,
.container .cols.col-9,
.container .cols.col-10,
.container .cols.col-11,
.container .cols.col-12{width:100%;}

h1{
	color:blue;
}

/*Всегда на 1px больше
*/
@media screen and (min-width:321px) {

	h1{
		color:#000;
	}
	/*Колонки - 12*/
	.container .cols.col-1{width: 8.333333%;}
	/*8.3333333*2=16.66666*/
	.container .cols.col-2{width: 16.666666%;}  
	/* 16.666666*3=*/
	.container .cols.col-3{width: 25%;}
	.container .cols.col-4{width: 33.333333%;}
	.container .cols.col-5{width: 41.666666%;}
	.container .cols.col-6{width: 50%;}
	.container .cols.col-7{width: 58.33333333%;}
	.container .cols.col-8{width: 66.66666666%;}
	.container .cols.col-9{width: 75%;}
	.container .cols.col-10{width: 83.33333333%;}
	.container .cols.col-11{width: 91.6666666%;}
	.container .cols.col-12{width: 100%;}
	
	/*body:before{
		content:"БОЛЬЩЕ или РАВНО 321ПХ";
		background:red;
	}*/
}
